<html xmlns:th="https://www.thymeleaf.org/"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">                          >
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div th:if="${param.success}"  class="alert alert-success">
                YOU ARE REGISTERED SUCCESFULLY!
            </div>
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Users list </h1>
                <p class="lead fw-normal text-muted mb-0">users list</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/users/search}"  class= "form-check-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search running" aria-label="Search">
                    </form>
                </div>
                <div th:each="user:${users}"  class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" th:src="${user.poste}" alt="..." />
                        <a  th:text="${user.poste}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                    <a class="btn btn-primary" th:href="@{/users/{userId}(userId=${user.id})}"> VIEW</a>

                    <a class="btn btn-primary" th:href="@{/users/{userId}/edit(userId=${user.id})}"> EDIT</a>

                </div>

                </div>
            </div>
    </section>

</main>
<!-- Footer-->

</body>
</html>
